#async-downloads {
    font-size: large;
}

#async-downloads.in-progress #async-downloads-icon {
    animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		color: #aaaaaa;
	}

	50% {
        color: white;
	}

	100% {
		color: #aaaaaa;
	}
}

.dropdown-menu {
    padding: 0;
    margin: 0;
    border-radius: 5px;
    margin-top: 5;
    border: none;
}

#async-downloads #downloads-dropdown {
    border-radius: 8px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 50vh;
    min-width: 300px;
}

#async-downloads .download-container {
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #DEE2E6;
}

#async-downloads .download-container:hover {
    background-color: #f7f7f7;
}

#async-downloads .download {
    display: inline-grid;
    width: calc(100% - 22px);
}

#async-downloads .download-name {
    text-overflow: ellipsis;
    overflow-x: hidden;
}

#async-downloads .download-name:hover {
    cursor: pointer;
}

#async-downloads .download-timestamp {
    color: #6c757d !important;
    font-size: small;
}

#async-downloads .download-clear {
    color: #6c757d;
}

#async-downloads .download-clear:hover {
    cursor: pointer;
    color: #4c555d;
}

#async-downloads .download-content {
    padding: 15px;
    width: 100%;
}
